@font-face {
    font-family: Nata;
    src: url(assets/NataSans-VariableFont_wght.ttf);
}

body {
    background: linear-gradient(45deg, black, rgb(38, 38, 38));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    height: auto;
    padding: 0;
    margin: 0;
    font-family: Nata;
    justify-items: center;
    min-height: 100vh;
    
}

* {
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

#title {
    white-space: nowrap;
    color: rgb(255, 255, 255);
    justify-self: center;
    font-weight: 900;
    font-size: medium;
    background-color: transparent;
    padding: 10px;
}

h1 {
    margin: 0;
    font-family: Nata;
    font-weight: 200;
}
#navbar-wrapper {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.562), transparent);
    border-bottom: 1px solid white;
}
.navbar {

    justify-items: center;
    justify-content: space-evenly;
    display: flex;
    width: 100vw;
}

.home-row {
    display: flex;
    width: 100%;
    height: 50%;
    max-width: 100vw;
}
.home-wrapper {
    width: 100%;
    height: 100%;

    
}

.text-box {
    padding: 1rem;
    max-width: 50%;
    overflow-wrap: normal;
    min-width: 50%;
}

.subtitle {
    margin-left: 90px;
    margin-right: 0%;

}

.row-alt2 {
    margin-left: auto;
    margin-right: 0;
}
.home-button {
    border: 1px solid white;
    background-color: red;
    width: 50%;
    height: 100%;
}

.portfolio-image {
    width: 100%;
    
}

.portfolio-list {
    display: grid;
    max-width: 800px;

    
}
.portfolio-button {
    background-color: white;
    color: black;
    padding: 4px;
    margin: 4px;
    justify-self: center;
    border-radius: 12px;
    padding-left: 8px;
    padding-right: 8px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50vw;
    margin: 0 auto;

}

.portfolio-row {
    margin-bottom: 8px;
    background: rgba(255,255,255,0.1);
    height: auto;
    padding: 4px
}

#myself {
    width: 250px;
}

